@{
    ViewBag.Title = "Usuário";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Informações de Usuário.</p>
<p>Você é um usuario Adminstrdor do sistema.</p>

Seja bem-vindo @ViewBag.UserLogado
<br />

