@model ClincaVeterinariaAspCore.Models.Animal

@{
    ViewData["Title"] = "CadAnimal";
}

<h4>Cadastro do Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.RefCliente.id, ViewBag.ListaClientes as SelectList, "Selecione o Cliente",
                    htmlAttributes: new { @class = "form-control" })

                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.RefRaca.Id, ViewBag.ListaRacas as SelectList, "Selecione a raça",
                    htmlAttributes: new { @class = "form-control" })

                </div>
            </div>
            <div class="form-group">
                <label asp-for="nomeAni" class="control-label"></label>
                <input asp-for="nomeAni" class="form-control" />
                <span asp-validation-for="nomeAni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
