@model ClincaVeterinariaAspCore.Models.Cliente

@{
    ViewData["Title"] = "editarCliente";
}


<h4>Atualzar Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="editarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="id" type="hidden" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeCli" class="control-label"></label>
                <input asp-for="nomeCli" class="form-control" />
                <span asp-validation-for="nomeCli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telCli" class="control-label"></label>
                <input asp-for="telCli" class="form-control" />
                <span asp-validation-for="telCli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailCli" class="control-label"></label>
                <input asp-for="EmailCli" class="form-control" />
                <span asp-validation-for="EmailCli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListaCliente" asp-controller="Cliente">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
